<doctype html>
<html ng-app="myModule">
    <head>
      <title></title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
      <script src="handlingevents.js"></script>
      <link href="styles1.css" rel="stylesheet" />
    </head>
    <body ng-app="myModule" >
      <div ng-controller="myController">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Likes</th>
              <th>Dislikes</th>
              <th>Like/Dislike</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat= "technology in technologies">
              <td>{{ technology.Name }}</td>
              <td>{{ technology.Likes }}</td>
              <td>{{ technology.Dislikes }}</td>
              <td>
                <input type="button" value="Like" ng-click="incrementLikes (technology)">
                <input type="button" value="Dislike" ng-click="incrementDislikes (technology)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </body>
    </html>
